/*서비스안내*/
.serve_intro_wrap {
	width:1100px;
	margin:0 auto;
}

/*이미지 영역*/
.serve_intro_img_area {}
.serve_intro_img_area h3 {
	width:360px;	
	display:inline-block;
	vertical-align:middle;
}
.serve_intro_img_area ul {
	margin-top:118px;
	display:inline-block;
	width: 733px;
	vertical-align:middle;
	font-size:0;
	text-align:center;
}
.serve_intro_img_area ul span {
    object-fit: contain;
    font-family: SpoqaHanSans;
    font-size: 18px;
    line-height: 50px;
    letter-spacing: -0.7px;
    text-align:center;
    color: #747474;	
    display:block;
}
.serve_intro_img_area ul li {
	display:inline-block;
	width:33.334%;
	text-align:center;
	margin-bottom:40px;
}
.serve_intro_img_area ul li .serve_intro_comment {
	object-fit: contain;
    font-family: AppleSDGothicNeo;
    font-size: 14px;
    letter-spacing: -0.5px;
    text-align: center;
    color: #747474;
    line-height:5px;
}



/*서비스안내*/
.serve_intro_text-box {
}

/*서비스안내 텍스트 박스*/
.serve_intro_text_box h4 {
  object-fit: contain;
  font-size: 32px;
  font-weight: 300;
  line-height: 50px;
  letter-spacing: -1.2px;
  text-align: left;
  color: #7053ff;
  margin-top:60px;	
}

.serve_intro_text_box p {
   object-fit: contain;
   font-size: 18px;
   font-weight: 300;
   line-height: 29px;
   text-align: justify;
   color: #4a4a4a;
   margin-top:20px;	
}

.serve_intro_text_box strong {
   object-fit: contain;
   font-size: 18px;
   line-height: 29px;
   text-align: justify;
   color: #4a4a4a;
   margin-top:30px;
   display:inline-block;
}
/*무료 교환/반품 정책*/
.free_return_info_wrap {
	width:1100px;
	margin:0 auto;
}
.free_return_policy {
}
.free_return_policy h3 {
    font-size: 24px;
    letter-spacing: -0.5px;
    text-align: left;
    color: #333333;	
    margin-top:42px;
    margin-bottom:80px;
}
.free_return_policy ul {
	text-align:center;
}
.free_return_policy ul li {
	display:inline-block;
}
.free_return_policy ul li:nth-child(2) {
	margin-left:138px;
	margin-right:127px;
}
.free_return_policy ul li span {
	display:block;
    object-fit: contain;
    font-family: SpoqaHanSans;
    font-size: 18px;
    font-weight: bold;
    line-height: 2.78;
    letter-spacing: -0.7px;
    text-align: left;
    color: #747474;	
}

.free_return_policy dl dt:nth-child(1){
	margin-top:43px;
}

.free_return_policy dl dt {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.61;
    text-align: justify;
    color: #4a4a4a;
   	object-fit: contain;
    font-family: LucidaGrande;
    font-weight: bold;
    margin-top:30px;   	   	
}

.free_return_policy dl dd {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.61;
    text-align: justify;
    color: #4a4a4a;
    object-fit: contain;	
}

.free_return_condition {
	margin-top:115px;	
}
.free_return_condition h3 {
    font-size: 24px;
    letter-spacing: -0.5px;
    text-align: left;
    color: #333333;	
}

.free_return_condition .free_return_condition_box{
	border-top:solid 2px #d8d8d8;
	margin-top:13px;
}

.free_return_condition .free_return_condition_box li {
	display:inline-block;
	margin:20px 0 20px 81px;
	vertical-align:middle;
}

.free_return_condition .free_return_condition_box img {
	display:inline-block;
	vertical-align:middle;	
}

.free_return_condition .free_return_condition_box li span{
	display:inline-block;
	text-align:center;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -0.7px;
    color: #747474;
    margin-left:9px;
    margin-bottom: 5px;	
	vertical-align: middle;    
}
.free_return_common_box {
	border-top:solid 2px #d8d8d8;
	padding:20px 0;
}
.free_return_common_box dl {
	display:inline-block;
}
.free_return_common_box dl:nth-child(1) {
	width:413px;
	vertical-align:top;
}
.free_return_common_box dl:nth-child(1) dt{
    letter-spacing: -0.5px;
    text-align: left;    
	color: #333333;	
	font-family: "Apple SD Gothic Neo";	
	font-size: 24px;	
	line-height: 37px;    
}

.free_return_common_box dl:nth-child(1) dd {
    font-size: 24px;
    font-weight: 300;
    line-height: 37px;
    letter-spacing: -0.5px;
    text-align: left;
    color: #333333;
    margin-top:39px;	
}
.free_return_common_box dl:nth-child(2) {
	width:682px;
}

.free_return_common_box dl:nth-child(2) dt {
    font-size: 18px;
    font-weight: bold;
    line-height: 29px;
    letter-spacing: -0.5px;
    text-align: justify;
    color: #4a4a4a;
    object-fit: contain;  	
}

.free_return_common_box dl:nth-child(2) dd {
    font-size: 18px;
    font-weight: 300;
    line-height: 29px;
    letter-spacing: -0.5px;
    text-align: justify;
    color: #4a4a4a;
    object-fit: contain;	
}

.free_return_common_box dl:nth-child(2) .free_return_gap_space {
	margin-bottom:29px;
}


.free_return_refund_time h5 {
    font-size: 18px;
    font-weight: bold;
    line-height: 29px;
    letter-spacing: -0.5px;
    text-align: justify;
    color: #4a4a4a;
    margin-bottom:21px;	
}


.free_return_refund_time table {
	margin-left:84px;
	text-align:center;
	
}

/* TABLE STYLE */
.free_return_table {
	border-spacing:2px 2px;
	border-collapse:separate;
}
.free_return_table.no_spacing {
	border-spacing:0;
	border-collapse:collapse;
}
.free_return_table thead {
	background-color: #d8d8d8;
}

.free_return_table thead th {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -0.5px;
    text-align: center;
    color: #4a4a4a;
    padding:5px 0;	
	border-spacing:2px 2px;
}
.free_return_table tr td:first-child{
	text-align:center;
}

.free_return_table tr td:nth-child(2){
	padding-left:33px;
}

.free_return_table tr td:nth-child(3){
	padding-left:36px;	
}

.free_return_table td {
	border:solid 1px #bbbbbb !important;	
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.5px;
    text-align: left;
    color: #4a4a4a;
    padding:16px 0;	
}

.free_return_table tbody tr {
}

/* SERVICE */
/* Service Head Box */
.service_wrap {
	width: 1100px;
	margin: 0 auto;
	font-size:0;
}
.service_wrap h3 {
	margin:42px 0 26px;
    font-size: 24px;
    font-weight:400;
    letter-spacing: -0.5px;
    text-align: left;
    color: #333333;	
}

/* MemberShip */
.mem_grey_box {
	width:100%;
	height:72px;
	background-color: #f6f6f6;
	border-top:solid 2px #4a4a4a;
	position:relative;
	box-sizing:border-box;
}
.mem_grey_box h4 {
	display:inline-block;
	text-align:left;
    font-size: 18px;
    font-weight:400;
    letter-spacing: -0.5px;
    color: #4a4a4a;
    position:absolute;
    top: 21px;
    left: 30px;
}
.mem_grey_box p {
	display:inline-block;
	text-align:right;
	position:absolute;
	top: 26px;
	right: 34px;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: -0.5px;
    text-align: right;
    color: #636363;	
}
/* Membership Content Box */
.mem_grade {
	display:inline-block;
	clear:both;
	margin-bottom:43px;
}
.mem_grade dl {
	width:480px;
	float:left;
}
.mem_grade dt {
	font-size: 14px;
    line-height: 1.71;
    letter-spacing: -0.6px;
    text-align: justify;
    color: #636363;
    font-weight: bold;
}
.mem_grade dd {
	font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.6px;
    text-align: justify;
    color: #636363;
    margin-bottom: 24px;	
}
.mem_grade dl:first-child {
	padding:20px 54px 0 32px;
}
.mem_grade dl:last-child {
	padding:20px 54px 0 0;
}
/*멤버십 테이블*/
.mem_table {
	padding:50px 62px 70px 116px;
	text-align:center;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.5px;
    text-align: center;
    color: #4a4a4a;
}
.mem_table p {
  	 font-size: 11px;
     font-weight: 300;
     line-height: 1.64;
     letter-spacing: -0.4px;
     text-align: justify;
     color: #636363;
     margin-top:8px;
}
.mem_table table, 
.mem_table th, 
.mem_table td {
	border-collapse: collapse;
}
.mem_table thead th {
	font-weight:400;
	background-color:#fff;
}
.mem_table tbody th,
.mem_table tbody td {
	font-family: 'Spoqa Han Sans', 'Sans-serif';
}


.mem_table th, 
.mem_table td {
	border:4px solid #fff;
	background-color:#f5f5f5;
	padding:8px 0px;
	line-height:26px;
}
.mem_table .table_grey_font {
    font-size: 14px;
    font-weight: 300;
    color: #7a7a7a;
}
/*테이블 상단 헤드*/
.mem_table thead tr:first-child th:nth-child(2){
	background-color: #f6f6f6;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #7a7a7a;
}
.mem_table thead tr:first-child th:nth-child(3){
	background-color: #7053ff;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
}
.mem_table thead tr:first-child th:nth-child(4){
	background-color: #f5f5f5;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #7a7a7a;
}
.mem_table thead tr:last-child th:nth-child(1){
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #4a4a4a;
}
.mem_table thead tr:last-child th {
	 font-size: 14px;
     line-height: 18px !important;
     letter-spacing: -0.5px;
     text-align: center;
     color: #4a4a4a;
}
/*테이블 헤드 폰트*/
.mem_table tbody tr:nth-child(1) td:nth-child(1),
.mem_table tbody tr:nth-child(2) td:nth-child(1),
.mem_table tbody tr:nth-child(3) td:nth-child(1),
.mem_table tbody tr:nth-child(5) td:nth-child(1),
.mem_table tbody tr:nth-child(8) td:nth-child(1){
	  font-size: 16px;
	  color: #4a4a4a;
} 
/* 1~2 컬럼 컬러 */
.mem_table tr:nth-child(1) td:nth-child(1) {
	background-color: #eceaf5;
	padding:15px 0;
}
.mem_table tr:nth-child(2) td:nth-child(1) {
	width:154px;
	background-color: #f6efef;
	padding:15px 0;
}
.mem_table tr:nth-child(3) td:nth-child(1),
.mem_table tr:nth-child(3) td:nth-child(2),
.mem_table tr:nth-child(4) td:nth-child(1) {
	background-color: #efeedf;
}
.mem_table tr:nth-child(n+5) td:nth-child(1),
.mem_table tr:nth-child(5) td:nth-child(2) {
	background-color: #eef3f7;
}
.mem_table tr:nth-child(n+8) td:nth-child(1),
.mem_table tr:nth-child(8) td:nth-child(2) {
	background-color:#ebeae3;
}
.mem_table tr:nth-child(2) td:nth-child(2) {
	background-color: #f6f6f6;	
	width:67px;
}
/*등급혜택*/
.mem_table tr:nth-child(1) td:nth-child(3),
.mem_table tr:nth-child(2) td:nth-child(4),
.mem_table tr:nth-child(5) td:nth-child(5),
.mem_table tr:nth-child(8) td:nth-child(5),
.mem_table tr:nth-child(1) td:nth-child(4),
.mem_table tr:nth-child(2) td:nth-child(4),
.mem_table tr:nth-child(5) td:nth-child(6),
.mem_table tr:nth-child(8) td:nth-child(6),
.mem_table tr:nth-child(2) td:nth-child(5),
.mem_table tr:nth-child(3) td:nth-child(5),
.mem_table tr:nth-child(4) td:nth-child(4),
.mem_table tr:nth-child(6) td:nth-child(4),
.mem_table tr:nth-child(7) td:nth-child(4) {
	background-color: #f0edff;
	font-size: 14px;
  	text-align: center;
  	width:130px;
  	color: #7053ff;
}
.mem_table tr:nth-child(1) td:nth-child(6),
.mem_table tr:nth-child(2) td:nth-child(6),
.mem_table tr:nth-child(5) td:nth-child(8),
.mem_table tr:nth-child(1) td:nth-child(7),
.mem_table tr:nth-child(2) td:nth-child(7),
.mem_table tr:nth-child(1) td:nth-child(8),
.mem_table tr:nth-child(2) td:nth-child(8),
.mem_table tr:nth-child(1) td:nth-child(9)
{
	background-color: #f5f5f5;	
}
.merge {
	border-right:0 !important;
	background-color: #f6f6f6 !important;
}
.merge + td {
	border-left:0 !important;
	background-color: #f6f6f6 !important;
}
/* 현재 등급 표시 */
.mem_cureent_grade {
	display:none;
  	padding-right:7px;	
  	position:relative;
  	top:40px;
  	top: -235px;
    left: -503px;  	
}

.mem_cureent_grade i {
	color:#7053ff;
	position:absolute;
	right:0;
	top:-4px;
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);	
	font-size:34px;
}

.mem_cureent_grade em {
    width: 75px;
    height: 26px;
    border-radius: 3px;
    background-color: #7053ff;
  	font-size: 14px;
	line-height: 26px;
  	letter-spacing: -0.5px;
  	text-align: center;
  	color: #ffffff;
  	display:inline-block;
	position:relative;
	z-index:10;
	display:block;
}

/*경험치 얻기*/
.mem_list {
	width:100%;
}
.mem_list th,
.mem_list td {
	background-color:#fff;	
}
/*테이블 헤더부분*/
.mem_list thead tr th {
	font-size: 16px;
    line-height: 34px !important;
    letter-spacing: -0.5px;
    text-align:center;
    color: #333;
    font-weight:400;
    padding:26px 0 10px;
   	border-bottom:1px solid #DDDDDD;
}
.mem_list thead tr th.t_aLeft {
	text-align:left;
}
.mem_list tbody td {
	padding:20px 0;
	border-bottom:1px solid #DDD;
	/*
	vertical-align:top;
	*/
}

/* ICON TITLE */
.mem_list tbody td.icon_tit {
	font-size: 14px;
    line-height: 18px;
    letter-spacing: -1.1px;
    color: #4a4a4a;
   	text-align:center;
   	vertical-align:middle;
}
.mem_list tbody td.icon_tit i {
	display:block;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: -0.7px;
    color: #000;
    margin-bottom:8px;
}

.check_list {}
.check_list li {
	font-size: 14px;
    font-weight: 600;
    line-height: 34px;
	text-align:center;
	color:#333;
}
.check_list li del {
	position:relative;
	display:inline-block;
	font-size: 14px;
    font-weight: 600;
    line-height: 34px;
    text-align: center;
    color: #ccc;
}
.check_list li del:before {
	content:"\E876";
	position:absolute;
	width:15px;
	top:0;
	left:-20px;
    font-size: 15px;
    font-family:'Material Icons';
    letter-spacing: -0.7px;
    text-align: left;
    color: #f6a623;
}	


.dot_list {
	padding-left:50px;
}
.dot_list li,
.dot_list li del {
	font-size: 14px;
	font-weight:400;
  	line-height: 34px;
  	letter-spacing: -1px;
  	text-align: left;
  	color: #333;
}
.dot_list li del {
	font-weight:400;
	color: #ccc;
}
.dot_list li:not(.null):before {
	content:"\00b7";
	margin-right:5px;
	color: #ccc;
}
.dot_list_b {
	padding-left:50px;
}
.dot_list_b li,
.dot_list_b li del {
	font-size: 14px;
	font-weight:400;
  	line-height: 34px;
  	letter-spacing: -1px;
  	text-align: left;
	color: #BBB;
}
.dot_list_b li:not(.null) {
	position:relative;
	padding-left:10px;
}
.dot_list_b li:not(.null):before {
	content:"\00b7";
	position:absolute;
	top:0;
	left:0;
	color: #ccc;
}
.dot_list_grade li {
	line-height:38px;
}

.count_gauge_wrap {}
.count_gauge_wrap .prog {
	display:inline-block;
	margin-left:20px;
}
.count_gauge_wrap .prog .prog_mask {
	width:200px;
}
.count_gauge_wrap strong {
	display:inline-block;
	font-size: 14px;
	font-weight:400;
  	line-height: 34px;
  	letter-spacing: -1px;
  	text-align: left;
	color: #BBB;
}
.count_gauge_wrap strong em {
    font-size: 14px;
    line-height: 37px;
    letter-spacing: -1px;
    text-align: left;
    font-weight: bold;
    color: #f6a623;
    display: inline-block;
    margin-left:3px;
}


/* 텍스트만 나오는 화면 */
.term_box {
  width: 1100px;
  margin:60px auto 0;
}

.term_title {
  height: 33px;
  font-size: 22px;
  text-align: left;
  color: #000000;
  margin:24px 0 0 0;
}

.term_center {
	text-align: center;
}

.term_s_title {
  
  font-size: 14px;
  color: #4a4a4a;	
  	
  font-size: 14px;	
  font-weight: bold;	
  line-height: 26px;
  margin-top:26px;
}

.term_box article {
  
  font-size: 14px;
  font-weight: 300;
  line-height: 1.86;
  letter-spacing: -0.5px;
  text-align: left;
  color: #9b9b9b;
}

.term_box ol {
	counter-reset: item;	
}
.term_indent {
	padding-left:1em;
}
.term_indent li {
    display: block;
    position: relative;	
}
.term_box ol li:before {
    content: counters(item, ".")".";
    counter-increment: item;
   	display:inline-block;
}
.term_box .term_indent .term_indent {
	padding-left:20px;
}

/* 업데이트 된 날짜 */
.revision_date {
	float:right;
	color: #9B9B9B;	
	font-family: SpoqaHanSans;	
	font-size: 14px;	
	font-weight: 300;	
	line-height: 26px;	
	text-align: right;
}

.service_info_wrapper {
    margin-top:48px;
}
.service_info_area {
    display:inline-block;
    margin-bottom:89px;
}
.service_info_area:after {
    content:"";
    display:inline-block;
    clear:both;
}
.service_info_area > dt {
    display:inline-block;
    width:472px;
    float:left;
    color: #000000 ;    
    font-size: 30px;    
    font-weight: 300;    
    line-height: 50px;                        
}
.service_info_area > dd {
    display:inline-block;
    float:left;
    color: #4A4A4A ;        
    font-size: 14px;    
    font-weight: 300;    
    line-height: 20px;    
    text-align: justify;                        
}
.service_info_area > dd > span {
    display:inline-block;
    margin-top:20px;
    font-weight:bold;
    color: #4A4A4A ;        
    font-size: 16px;        
    line-height: 20px;    
    text-align: justify;                        
}


/* 개인정보 설정 페이지에서 추가 */
.service_list_table tbody td.box {
  border-left: 1px dashed #EBEBEB;
}


/* 약관 테이블 */
.agree_table_type_a {
	margin:30px 15px;
}
.agree_table_type_a.mid {
	margin:15px;
}
.agree_table_type_a th,
.agree_table_type_a td {
	border:solid 1px #ddd;
	padding:10px 20px;
}
.agree_table_type_a th {}
.agree_table_type_a td {}

